@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {     /* Formatear documento */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(28, 83, 28);         /*Color fondo del nav bar*/
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;

}

header .logo img { 
    height: 90px;       /*Altura*/
    width: auto;    /*ancho*/
    
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: rgb(255, 255, 255);           /*Color letra de los links*/
    text-decoration: none;
}

.header .nav-links li a:hover {
    color:rgba(255, 255, 255, 0.615);             /*el color cambia al pasar el cursos por encima */
}

.header .btn button {
    margin-left: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);              /*color letra del boton*/
    padding: 6px 12px;
    background-color: rgb(20, 58, 20);             /*color fondo del boton*/
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .btn button:hover { 
    background-color: rgb(55, 103, 55);           /*Color cambia al pasar el cursos por encima*/
    color:rgb(255, 255, 255);                      /*la letra del boton cambia al pasar el cursos*/
    transform: scale(1.1);
}

h1 {
    font-size: 80px;
    text-align: center;
    color: rgb(28, 83, 28);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.descripcion {
    margin: 80px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    transition: all 0.3 ease 0s;

}

h2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 40px;
    color:rgb(255, 255, 255) ;
}

.contenedor_imagenes {
    display: flex;
    flex-direction:row;
    margin-inline: 20px;
    padding: 10px;
    background-color: rgb(28, 83, 28);
    justify-content: center;
    border-radius: 4px;
}

.imagenes {
    margin: auto;


}

.imagenes2 {
    margin: auto;
    
}

.imagenes3 {
    margin: auto;
}

.tula {
    width: 200px;
    height: 200px;
    padding: 11px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;

}

.tula:hover {
    transform: scale(1.1);
    transition: all 0.3 ease 9s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
}

.contenedor_nosotros {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

/*--------------------------------
-----------Contacto---------------
----------------------------------*/

.contenedor_contacto {
    
}

.contac_title {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.contacto_{
    
}

.Formulario{
    
}

.contenedor_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(10, 94, 10);   /*Color Fondo Formulario*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);  /*Sombra*/
    max-width: 600px;
    margin: 0 auto;
}

.contacto_ label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

.contacto_ input[type="text"],
.contacto_ input[type="email"],
.contacto_ input[type="number"],
.contacto_ textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.contacto_ input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /*cursor*/
}

.contacto_ input[type="submit"]:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: all 0.3 ease 0s;
    transform: scale(1.05);
    opacity: 0.8;

}